@model Web.Models.ProductCatalogue

@{
    ViewBag.Title = "Каталог|магазин струн \"EvilStrings\"";
}


@foreach (var product in Model.Products)
{
    @Html.Partial("GetConcreteProduct", product)
}

@if (Model.Products.Count() % 3 == 2)
{
    <div class="item-transparent"></div>
}

@if (Model.PagingInfo.TotalPages != 1)
{
    <div class="page-links-container">
        <div class="page-links">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action(Model.CurrentCategory == null ? "Index" : "GetCatalogue", new { page = x, category = Model.CurrentCategory }))
        </div>
    </div>
}





