.navbar-nav > li a
{
        display: inline !important;
        padding:0px,10px,0px,10px !important;
}

.ajax-loader {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('./Images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
