
@{
    ViewBag.Title = "Заказ обработан|магазин струн \"EvilStrings\"";
}

<h2>Спасибо!</h2>
<div class="empty-cat-sm"></div>
<p>Спасибо за выбор нашего магазина. Заказ будет отправлен в службу доставки.</p>

