@using DataAccess.Entities;

@model IEnumerable<ProductType>

@foreach (var link in Model)
{
    var temp = Html.RouteLink("{0}", new
    {
        controller = "Product",
        action = "GetCatalogue",
        category = link.Name,
        page = "1"
    }, new
    {
        @class = link.Name == ViewBag.SelectedCategory ? "selected" : ""
    }
    ).ToString();

    var url = string.Format(temp, $"<span>{link.Description}</span>");
    <li>@Html.Raw(url)</li>
}
