<div class="header map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4779.179790100054!2d50.19717104831923!3d53.207270775742266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1498024437114" class="map-bg"></iframe>
    <div class="map-cover">
    </div>
    <a href="/Default/Index">
        <img src="/Content/Images/logo.png" alt="logo" class="logo map-logo" />
    </a>
</div>
