<div class="header">
    <a href="/Default/Index">
        <img src="~/Content/Images/logo.png" alt="logo" class="logo" />
    </a>
    @if (ViewBag.Index != null)
    {
        <div class="greeting">
            <h1>Добро пожаловать в EvilStrings</h1>
            <p>Лучший магазин для покупки любых гитарных струн</p>
        </div>
    }

</div>