@model Web.Models.Login.LoginLinkUser

@if (Model.IsLoggedIn)
{
    <a href="#">@Model.Login</a>
    <span>|</span>
    <a href="@Url.Action("Logout", "Login")">Выход</a>
}
else
{
    <span class="navbar-text">Гость</span>
    <span>|</span>
    <a href="#" data-toggle="modal" data-target="#loginModal">Войти</a>
}

