@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

@foreach (var node in Model)
{

    if (node == Model.Last())
    {
        <span class="this_page">@Html.DisplayFor(m => node)</span>
    }
    else
    {
        @Html.DisplayFor(m => node);
        <text> &raquo; </text>
    }
}

