<div class="instagram">
    <div class="insta-head">
        <img src="/Content/Images/insta_icon.png" alt="insta_icon" />
        <p>Наш инстаграм: <span>#evilstrings</span></p>
    </div>
    <div class="insta-body">
        <a href="https://www.instagram.com" target="_blank">
            <img src="/Content/Images/strings1.jpg" alt="insta_photo" />
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="/Content/Images/strings2.jpg" alt="insta_photo" />
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="/Content/Images/strings3.jpg" alt="insta_photo" />
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="/Content/Images/strings4.jpg" alt="insta_photo" />
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="/Content/Images/strings5.jpg" alt="insta_photo" />
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="/Content/Images/strings6.jpg" alt="insta_photo" />
        </a>
    </div>
</div>
