
@{
    ViewBag.Title = "Контакты | магазин струн \"EvilStrings\"";
}

<div class="contact-form">
    <form action="mailto:dust_@("@")inbox.ru" class="form">
        <fieldset>
            <p class="contacts-main">Полное имя*</p>
            <input type="text" placeholder="иванов сергей">
            <p class="contacts-main">email*</p>
            <input type="email" placeholder="name@nome.com"><br />
            <p class="contacts-main">Компания</p>
            <input type="text" placeholder="ваша компания (опционально)">
            <p class="contacts-main">Тема*</p>
            <input type="text" placeholder="информация"><br />
            <p class="contacts-main">Сообщение</p>
            <textarea placeholder=""></textarea><br />
            <input type="submit" value="Отправить" class="button">
        </fieldset>
    </form>
    <div class="vr"></div>
</div>
<div class="address">
    <h1 class="address_h1">Адрес</h1>
    <div class="address-place">
        <img src="/Content/Images/place.png" alt="place" />
        <p>
            ТРК "Космопорт", секция 9<sup>3</sup>/<sub>4</sub>, ул. Дыбенко, 30, Самара, Самарская обл., 44308. Часы работы: 8:00-20:00
        </p>
    </div>
    <div class="address-phone">
        <img src="/Content/Images/phone.png" alt="place" />
        <p>322-22-23</p>
    </div>
    <div class="address-mail">
        <img src="/Content/Images/mail.png" alt="mail" />
        <a href="mailto:sales@evilstrings.ru">
            <p>
                sales@evilstrings.ru
            </p>
        </a>
    </div>
    <div class="address-note">
        <p>
            Если у вас есть вопросы по поводу доставки или любые другие общие вопросы, наша служба поддержки будет рада помочь вам.
        </p>
    </div>
</div>
<div class="empty-cat"></div>

