@using DataAccess.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Главная|магазин струн \"EvilStrings\"";
}

<h1>Свежие поступления</h1>

@foreach(var prod in Model.Take(3))
{
    @Html.Partial("../Product/GetConcreteProduct", prod)
}
<h1>Топ продаж</h1>
@foreach (var prod in Model.Skip(3).Take(3))
{
    @Html.Partial("../Product/GetConcreteProduct", prod)
}
<h1>Лучшая цена</h1>
@foreach (var prod in Model.Skip(6).Take(3))
{
    @Html.Partial("../Product/GetConcreteProduct", prod)
}

